{% extends 'layout.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
	<main class="container">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<h1>Register</h1>
		{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
			{{ form_row(registrationForm.agreeTerms) }}
			{{ form_row(registrationForm.firstname) }}
			{{ form_row(registrationForm.lastname) }}
			<button class="btn btn-lg btn-primary col-12 mt-3" type="submit">Register</button>
		{{ form_end(registrationForm) }}
	</main>
{% endblock %}
