{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('offer') }}
{% endblock %}
{% block title %}
	{{ parent() }}
	Recherche
{% endblock %}
{% block body %}
	<main class="container">
		{% if is_granted("ROLE_USER") %}
			<a class="buttonAddOffer btn btn-success mb-5" href="{{ path("offer_add") }}">Add new offer</a>
		{% endif %}
		<h1>My research</h1>
		{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-lg btn-primary col-12 mt-3" type="submit">Search</button>
		{{ form_end(form) }}
		<div class="row mt-5">
			{% for offer in offers %}
				<div class="col-sm-6 col-md-4 col-lg-3 border border-2 border-light mb-2 px-0">
					<a href="{{ path('offer_show', {'id': offer.id}) }}">
						<div class="card">
							<h2 class="card-title text-light text-center">{{ offer.title }}</h2>
							<img src="{{ vich_uploader_asset(offer) }}" class="card-img-top" alt="">
							<div class="card-body bg-primary">
								<p class="text-light">{{ offer.category.name }}</p>
								<p class="text-light">{{ offer.createdAt|date('d/m/Y') }}</p>
								<p class="card-text text-light">{{ offer.price }}€</p>
							</div>
						</div>
					</a>
				</div>
			{% else %}
				No search result
			{% endfor %}
		</div>
	</main>
{% endblock %}
