<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img class="logo" src="{{ asset('build/images/logo.png') }}" alt="logo">
            Le mauvais coin
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ path('offer_list') }}">Mes offres</a>
                <a class="nav-link" href="#">Messages</a>
                <a class="nav-link" href="#">Favoris</a>
                <a class="nav-link" href="#">Mon profil</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    Bienvenue {{ app.user.firstname }} !
                    <a class="nav-link btn btn-secondary" href="{{ path('app_logout') }}">Deconnexion</a>
                {% else %}
                    <a class="nav-link btn btn-success mx-2" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="nav-link btn btn-secondary" href="{{ path('app_register') }}">S'inscrire</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
